*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    display: grid;
    height: 100vh;

    grid-template-columns: var(--template-columns);
    grid-template-rows: .5fr 5fr .5fr;

    grid-template-areas: var(--template-areas);
    transition: all .5s ease;
}
.nav-container{
    grid-area: nav;
    background-color: rgb(240, 72, 72);
}
.content-container{
    grid-area: content;
    background-color: rgb(48, 138, 211);
}
.lateral-container{
    grid-area: lateral;
    background-color: rgb(106, 219, 91);
}
.footer-container{
    grid-area: footer;
    background-color: rgb(235, 138, 82);
}